{% extends "base.html" %}

{% block title %}
    diff - trackard
{% endblock %}

{% block content %}

    <h1 class="colored">trackard</h1>

    <h2>Differences with apple music</h2>

    <ol>
        <li>Customizable:</li>
        <ol>
            <li>Brightness value for the background of the image</li>
            <li>Blur value for the background</li>
            <li>Rounded corner value for the cover &amp; container</li>
            <li>Transparency value for the container</li>
        </ol>

        <li>Better/higher resolution: 1080x1920 PNG compared to apple's 720x1280 WebP</li>
    </ol>

    <p>You can view some samples by clicking <a href="/examples">here</a>, or you can click <a href="/">here</a> to go home.</p>

{% endblock %}
